{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="heading-container p-4">
    <div class="container">
        <h1 class="heading-text text-center">Cambiar resultados de partidos</h1>
    </div>
</div>
<div id="cambiarPartidos">
    <main class="white-container py-4">
        <div class="container" v-if="!isFetchingCategories">
            <select class="custom-select" v-model="selectedCategory">
                <option value="default">Selecciona una categeoría</option>
                <option value="1">2006</option>
                <option value="2">2007</option>
                <option value="3">2008</option>
            </select>
        </div>
        <div class="sk-circle" v-else>
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>

        <div class="container">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Equipo Home</th>
                            <th scope="col">Goles</th>
                            <th scope="col">Penales</th>
                            <th>-</th>
                            <th scope="col">Equipo away</th>
                            <th scope="col">Goles</th>
                            <th scope="col">Penales</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr is="tg-partido"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript" src="{% static 'js/cambiarResultadoPartidos.js' %}"></script>
{% endblock %}